*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body{
    justify-content: center;
    align-items: center;
    text-align: center;
}


::-webkit-scrollbar{
    width: 1vh;
}
::-webkit-scrollbar-track{
    background-color: rgb(245, 237, 237);
    border-radius: 1.5vh;
}
::-webkit-scrollbar-thumb{
    background-color: #3298db;
    border-radius: 2vh;
}


.centre-logo{
    width: 100%;
    padding: 2vh 0vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(236, 234, 234);
}
.centre-logo img{
    height: 10vh;
    width: auto;
}
.centre-logo h2{
    margin-top: 2vh;
    font-size: 3vh;
    font-weight: 700;
}


.nav-1{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    padding: 2.5vh 1vh;
    background-color: whitesmoke;
}
.nav-1 a:hover{
    font-size: 2vh;
   color: cornflowerblue;
   border: 1px solid rgb(194, 191, 191);
   background-color: #3298db;
   color: white;
}
.nav-1 a{
    width: 100%;
    text-decoration: none;
    color:black;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.2vh;
}

.img{
    justify-content: center;
    align-items: center;
    display: flex;
}
#image-1{
    width:98%;
    height: 100%;
    border: 1vh solid rgb(228, 227, 227);
    border-radius: 1vh;
}


.card-1{
    width: 100%;
    margin: 5vh 0vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box-1{
    width: 95%;
    text-align: left;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#img-size{
    width: 60%;
    border: 1vh solid rgb(192, 191, 191);
    border-radius: 0.5vh;
}
.slider {
    position: relative;
    width: 60%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 1vh;
  }


.para-1{
    padding: 2vh;
    line-height: 3vh;
    font-size: 2.3vh;
    margin-top: 2vh;
}
.para-1 a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 3.3vh;
    
}
.para-1 a:hover{
    color: #3298db;
}
.para-1 p{
    text-align: left;
    text-indent: 10vh;
}

#btn-1{
    background: #3298db;
    color: white;
    border: 1px solid skyblue;
    border-radius: 2vh;
    font-weight: 500;
    padding: 1vh 3vh;
    height: 6vh;
    width: 30vh;
    font-size: 2.5vh;
    cursor: pointer;
}
#btn-1:hover{
    background-color: #2988c7;
}


.card-2{
    width: 100%;
    margin: 2vh 0vh 10vh 0vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.box-2{
    width: 95%;
    border-radius: 2vh;
    text-align: left;
    margin-top: 2vh;
    margin-bottom: 1vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}
#image-3{
    border-radius: 1.5vh;
    width: 70%;
    height: 100%;
}
.para-2{
    padding: 2vh;
    line-height: 3vh;
    font-size: 2.3vh;
}
.para-2 a{
    text-decoration: none;
    font-weight: 500;
    font-size: 3vh;
    color: black;
}
.para-2 p{
    text-align:left;
    text-indent: 10vh;
}
#btn-1{
    background: #3298db;
    color: white;
    border: 1px solid skyblue;
    border-radius: 2vh;
    font-weight: 600;
    padding: 1vh 3vh;
    height: 6vh;
    width: 30vh;
    font-size: 2.5vh;
    cursor: pointer;
}


.staffs{
    width: 100%;
    background-color: rgb(246, 244, 244);
    display:flex;
    padding:2vh 1vh;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    justify-content: center;
    
    
}
.card-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
    
}
.pic-1{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.5vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    box-shadow: 0.2vh 0.1vh 0.3vh 0.2vh rgb(225, 224, 224);
    
}
.pic-2{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.5vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    box-shadow: 0.2vh 0.1vh 0.3vh 0.2vh rgb(236, 235, 235);
    
}
.pic-3{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.5vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    box-shadow: 0.2vh 0.1vh 0.3vh 0.2vh rgb(236, 234, 234);
}
.pic-1 img{
    width: 35vh;
    height: 40vh;
    
}
.pic-2 img{
    width: 35vh;
    height: 40vh;
}
.pic-3 img{
    width: 35vh;
    height: 40vh;
}

.pic-1 h1{
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 2.8vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(73, 185, 229);
    font-weight: 700;
}
.pic-1 p{
    color: rgb(53, 160, 203);
    margin-bottom: 3.5vh;
}
.pic-2 h1{
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 2.8vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(73, 185, 229);
    font-weight: 700;
}
.pic-2 p{
    color: rgb(53, 160, 203);
    margin-bottom: 3.5vh;
}
.pic-3 h1{
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 2.8vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(73, 185, 229);
    font-weight: 700;
}
.pic-3 p{
    color: rgb(53, 160, 203);
    margin-bottom: 3.5vh;
}

.foot{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(59, 155, 193);
}
#image-4{
    width: 30vh;
    height: 20vh;
}

.forms{
    display: flex;
    flex-direction: column;
    width: 70vh;
    padding: 1vh;
    justify-content: center;
}
.forms h1{
    margin-top: 5vh;
    margin-bottom: 2.5vh;
    font-size: 3vh;
    color: white;
    font-weight: 500;
}
.forms label{
    font-size: 2.3vh;
    margin-left: 2vh;
    margin-bottom: 1.5vh;
    color: white;
}
.forms input{
    margin-left: 2vh;
    margin-bottom: 1.5vh;
    padding: 1vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 6vh;
    font-size: 2.2vh;
    font-weight: 500;
    border-radius: 1vh;
    border: 1px solid white;

}

#message{
    height: 8vh;
}
.forms button{
    margin-left: 2vh;
}
.forms p{
    margin-left: 2vh;
}

#btn-2{
    background-color:black ;
    color: white;
    border: 1px solid black;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 2.5vh;
    font-weight: 700;
    padding: 1vh 2vh;
    height: 6vh;
    width: 25vh;
    font-size: 2.2vh;
    cursor: pointer;
}
.forms p{
    color: white;
}

.footer{
    width: 100%;
    display: flex;
    justify-content:center;
    font-size: 2.5vh;
    margin: 0px;
}
.footer .split p{
padding: 2vh;
margin-bottom: 0px;
}




@media(max-width:1000px){

    body{
        width: 100%;
    }
    .nav-1{
        display: none;
    }
    .nav a{
        display: none;
    }
    .centre-logo img{
        height: auto;
        width:100%;
    }
    .staffs{
        width: 100%;
    }
    .card-3{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .pic-1{
        margin: 5vh 0vh;
    }
    .pic-2{
        margin: 5vh 0vh;
    }
    .pic-3{
        margin: 5vh 0vh;
    }
}