.TimeTable{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.cards-1{
    width: 80%;
    padding: 10vh 0vh;
    
}
.cards-1 h1{
    font-size: 5.5vh;

}
.cards-1 p{
    font-size: 3vh;
    padding: 1vh 0vh;
}
.upload-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    text-align: center;
}

.upload-container h3 {
    margin-bottom: 20px;
    color: #333;
}

.file-input {
    display: none;
}

.file-label {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: #45a049;
}

.file-name {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    display: none;
    word-wrap: break-word;
}

.file-name span {
    font-weight: bold;
    color: #2c3e50;
}

.upload-button {
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(218, 218, 218, 0.1);
}

.upload-button:hover {
    background-color: #2980b9;
}

.schedule {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-container button{
    display: none;
}

.schedule h1 {
    font-size: 2.8vh;
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}


.input-group input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.input-group input[type="date"]:focus {
    border-color: #007BFF;
    outline: none;
}


.submit-btn {
    width: 100%;
    padding: 12px;
    background-color:#3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #4587ce;
}

.submit-btn:active {
    background-color: #2268be;
}

