/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
.page-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.breadcrumb {
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
}

.breadcrumb a {
    color: #007bff;
    text-decoration: none;
}

.breadcrumb span {
    color: #6c757d;
}

/* Form Container */
.form-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fefefe;
}

.form-title {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

/* Form Styles */
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
}

input, select, textarea, button {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

textarea {
    resize: vertical;
}

input[type="file"] {
    padding: 0;
}

.user-image {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.btn-submit{
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    background-color:#3298db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2vh;
    width: 30%;
}

button:hover {
    background-color: #3884d4;
}


.full-width {
    grid-column: span 2;
}


